html{
    font-family: 'EB Garamond', serif;
}
.heading{
    font-size: 20px;
}
#output{
    background: white;
    border-radius: 10px;
    border-top: 10px solid #aa4465;
    padding: 10px;
    float: none;
    text-align: left;
    width: 500px;
}
#div1{
   font-size: 35px;
    background-color: white;
    width: 550px;
    height: 180px;
    border-radius: 7px;
}
#div2{
    font-size: 35px;
    background-color: white;
    width: 550px;
    height: 180px;
    border-radius: 10px;
}
#login{
    margin-top: 20px;
    font-size: 25px;
    height: 50px;
    width: 150px;
    border-radius: 10px;
    background-color: paleturquoise;
}
#send{
        font-size: 25px;
        height: 45px;
        width: 150px;
        border-radius: 10px;
        background-color: paleturquoise;
}
#product{
    font-size: 25px;
}